#main
/node_modules
/client/build/client.js
/.env

#framewoks
##server

/server/.development.env
/server/.env
/server/.production.env

## compiled output
/server/dist
/server/node_modules

##client
/client/node_modules
/client/.env
/client/build