.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.memory {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  perspective: 1000px;
}

.memory__card {
  width: 25%;
  height: 25%;
  transform: scale(1);
  position: relative;
  transition: transform 0.5s;
  border-radius: 50%;
  background-color: rgb(96, 192, 230);
  padding: 10px;
  box-sizing: border-box;
}

.memory__card.flip {
  transform: rotateY(180deg);
  border: 0;
  border-radius: 5px;
}