.win-screen{
    border: 2px solid black;
    width: 500px;
    height: 300px;
    visibility: hidden;
}

.win-close{
    height: 60px;
    width: 100px;
}

.win-screen-opened{
    visibility: visible;
}